<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.contact %}
              <!-- Prev solution: (Requires contact: some text in _config.yml)
              {{ site.contact | escape }}-->

              <!-- Used to change contact us language -->
              {% for contact in site.c[page.lang] %}
                {{ contact[1].text }}</p>
              {% endfor %}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <!--{% include icon-twitter.html username=site.twitter_username %} -->
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter"></i> bsidescdmx
            </a>
          </li>
          {% endif %}

          {% if site.facebook_username %}
          <li>
            <a href="https://www.facebook.com/{{ site.facebook_username }}">
              <i class="fa fa-facebook"></i> bsidescdmx
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <!-- Prev solution: (Requires description: some text in _config.yml)
          <p>{{ site.description | escape }}</p> -->

        <!-- Used to change description language -->
        {% for desc in site.d[page.lang] %}
          <p>{{ desc[1].text }}</p>
        {% endfor %}
      </div>
    </div>

  </div>

</footer>
